# Segmenting Covid-19 Data into Regions and SubRegions

NorthEast Region:
New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [1]:
#import boto3
import pandas as pd
import numpy as np
import io
#from sagemaker import get_execution_role
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

# Amazon SageMaker Python SDK
# import sagemaker.amazon.common as smac 
# import sagemaker

# instruction to Jupyter to inline all the visualizations
%matplotlib inline

In [2]:
# Load enigma dataset.
usa = pd.read_csv('enigma_Aug_8_2020.csv')
#usa.head(20)

# role = get_execution_role()
# input_bucket_states = 'enigma-data'
# in_data_key_states = 'enigma_covid_19/202008052100/enigma_covid_19-enigma_covid_19_us_states__202008052100__202008052100.csv'
# training_data_location_states = 's3://{}/{}'.format(input_bucket_states, in_data_key_states)

# # Define the headers since the data does not have any
# #headers = ['date','county','state','fips','cases','deaths']

# #df = pd.read_csv(training_data_location, names=headers)
# usa = pd.read_csv(training_data_location_states)
# print('uploaded training data from location: {}'.format(training_data_location_states))
usa.sample(20)

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
905,44,Rhode Island,41.597419,-71.527272,3/6/2020,3,0,3.0,30.0,NaN,33.0,NaN,NaN,NaN,NaN
6258,24,Maryland,38.946658,-76.674494,3/9/2020,6,0,5.0,73.0,NaN,78.0,NaN,NaN,NaN,NaN
4557,11,District of Columbia,38.904247,-77.016517,5/20/2020,7551,407,7551.0,32868.0,NaN,40419.0,NaN,336.0,74.0,1059.0
815,42,Pennsylvania,40.904601,-77.827530,5/5/2020,53967,3206,50957.0,199925.0,NaN,250882.0,NaN,2580.0,550.0,NaN
2219,53,Washington,47.407324,-120.575800,5/26/2020,21538,1091,22184.0,293934.0,NaN,316118.0,NaN,267.0,51.0,NaN
6216,23,Maine,45.409284,-68.666616,6/21/2020,2957,102,2957.0,78033.0,NaN,80990.0,11.0,26.0,5.0,2391.0
7789,34,New Jersey,40.107274,-74.665201,4/17/2020,78467,3840,78467.0,78982.0,NaN,157449.0,1961.0,8011.0,1594.0,NaN
4919,13,Georgia,32.629579,-83.423511,7/22/2020,139120,3264,152302.0,1164542.0,NaN,1316844.0,NaN,3179.0,NaN,NaN
5081,16,Idaho,44.348422,-114.558854,3/23/2020,50,0,47.0,1309.0,NaN,1356.0,NaN,NaN,NaN,NaN
7621,33,New Hampshire,43.672691,-71.584315,3/27/2020,187,2,158.0,3395.0,592.0,3553.0,NaN,NaN,NaN,NaN
1608,48,Texas,31.434703,-99.281824,6/17/2020,99466,2099,96335.0,1273303.0,NaN,1369638.0,NaN,2793.0,NaN,62368.0
5336,17,Illinois,40.102875,-89.152611,5/30/2020,119290,5368,118917.0,758188.0,NaN,877105.0,925.0,3336.0,661.0,NaN
837,42,Pennsylvania,40.904601,-77.827530,5/27/2020,73646,5290,69417.0,349990.0,NaN,419407.0,NaN,1493.0,351.0,43038.0
5964,21,Kentucky,37.533684,-85.292980,7/20/2020,23978,694,23414.0,470740.0,NaN,494154.0,114.0,542.0,NaN,6876.0
4430,10,Delaware,38.998566,-75.441644,6/6/2020,9845,390,9845.0,57790.0,NaN,67635.0,NaN,117.0,NaN,5696.0
7881,34,New Jersey,40.107274,-74.665201,7/18/2020,178788,15699,176814.0,1604636.0,NaN,1781450.0,141.0,800.0,73.0,31400.0
6680,26,Michigan,44.844177,-85.660491,6/19/2020,67300,6071,67097.0,812831.0,NaN,879928.0,209.0,557.0,99.0,44964.0
757,42,Pennsylvania,40.904601,-77.827530,3/8/2020,6,0,6.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN
4836,13,Georgia,32.629579,-83.423511,4/30/2020,25431,1121,26155.0,122889.0,NaN,149044.0,NaN,NaN,NaN,NaN
27,36,New York,42.913397,-75.596272,7/28/2020,417591,32333,412878.0,5271668.0,NaN,5684546.0,152.0,648.0,81.0,72813.0

In [3]:
# drop unneeded colums
usa = usa.drop(columns = ["state_fips", "lat", "long"])

In [4]:
# Convert to Datetime
usa['datetime'] = pd.to_datetime(usa['date'])
# usa["day"] = usa['datetime'].map(lambda x: x.day)
# usa["month"] = usa['datetime'].map(lambda x: x.month)
# usa["year"] = usa['datetime'].map(lambda x: x.year)
# usa.sample(5)

NorthEast Region:
New England Divsion 1 (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [ ]:
# Created DF based New England Divsion
new_england = usa[(usa['state_name']=="Connecticut") | (usa['state_name'] == 'Maine') |
                      (usa['state_name'] == 'Massachusetts') | (usa['state_name'] == 'New Hampshire') | 
                     (usa['state_name']=='Rhode Island')| (usa['state_name'] =='Vermont')]
new_england.head()

NorthEast Region
Mid-Atlantic Divsion 2 (New Jersey, New York, and Pennsylvania)

In [ ]:
# Create DF based on Mid Atlantic Divsion
mid_atlantic = usa[(usa['state_name']=="New Jersey") | (usa['state_name'] == 'New York') |
                      (usa['state_name'] == 'Pennsylvania')]

mid_atlantic.head()

Midwest Region
Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)

In [ ]:
# Created DF based New Englend Divsion
east_north_central = usa[(usa['state_name']=='Illinois') | (usa['state_name'] == 'Indiana') |
                      (usa['state_name'] == 'Michigan') | (usa['state_name'] == 'Ohio') | \
                     (usa['state_name']=='Wisconsin')]
east_north_central.head()

 West North Central Divsion 4 (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)

In [ ]:
# Creat DF for just West North Central
west_northern_central =  usa[(usa['state_name']=='Iowa') | (usa['state_name'] == 'Kansas') |
                      (usa['state_name'] == 'Minnesota') | (usa['state_name'] == 'Missouri') | 
                     (usa['state_name']=='North Dakota') | (usa['state_name']=='South Dakota')] 

west_northern_central.head()

In [ ]:
# Create Function
def make_regions(a,b,c,d,e,f)

 South Division 5: South Atlantic (Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, and West Virginia)

In [ ]:
# Make Df for just South Atlantic divsion.
south_atlantic = usa[(usa['state_name']=='Delaware') | (usa['state_name'] == 'Flordia') |
                      (usa['state_name'] == 'Georgia') | (usa['state_name'] == 'Maryland') | 
                     (usa['state_name']=='North Carolina') | (usa['state_name']=='South Carolina') |
                     (usa['state_name']=='Virginia') | (usa['state_name']== 'District of Columbia') |
                    (usa['state_name'] == 'West Virginia')]
south_atlantic

South Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)

In [ ]:
# Create DF for just East South Central Divsion
east_south_central =  usa[(usa['state_name']=='Alabama') | (usa['state_name'] == 'Kentucky') |
                      (usa['state_name'] == 'Mississippi') | (usa['state_name'] == 'Tennessee')] 

east_south_central.head()

South Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)

In [ ]:
west_northern_central =  usa[(usa['state_name']=='Arkansas') | (usa['state_name'] == 'Louisiana') |
                      (usa['state_name'] == 'Oklahoma') | (usa['state_name'] == 'Texas') ] 

west_northern_central.head()

West 
Mountain Divsion 8 (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)

In [ ]:
# Create a DF for just Mountain divsion
mountain =  usa[(usa['state_name']=='Arizona') | (usa['state_name'] == 'Colorado') |
                      (usa['state_name'] == 'Idaho') | (usa['state_name'] == 'Montana') | 
                     (usa['state_name']=='Nevada') | (usa['state_name']=='New Mexico') |
                     (usa['state_name']=='Utah') | (usa['state_name']== 'Wyoming') ]

mountain.head()

West Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [5]:
# Make DF for just Pacific Divsion
pacific =  usa[(usa['state_name']=='Alaska') | (usa['state_name']=='California') | (usa['state_name'] == 'Hawaii') |
                      (usa['state_name'] == 'Oregon') | (usa['state_name'] == 'Washington') ]

pacific.head()

,state_name,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
603,Oregon,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28
604,Oregon,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29
605,Oregon,3/1/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-01
606,Oregon,3/2/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-02
607,Oregon,3/3/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-03

In [6]:
# Convert to Datetime
pacific['datetime'] = pd.to_datetime(pacific['date'])

/Users/mak/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
pacific_group = pacific.groupby(["datetime"], as_index = False).sum()
pacific_group.sample(5)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
2,2020-01-23,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
122,2020-05-22,116227,4923,114642.0,1851128.0,0.0,1965770.0,1364.0,5255.0,101.0,2311.0
187,2020-07-26,535284,10381,526988.0,8244616.0,0.0,8771604.0,2342.0,9532.0,85.0,5525.0
99,2020-04-29,66798,2890,65952.0,840824.0,0.0,906776.0,1724.0,5742.0,24.0,745.0
123,2020-05-23,118485,5002,117061.0,1904022.0,0.0,2021083.0,1353.0,4786.0,111.0,2319.0

In [8]:
# Separate out Datetime

pacific_group["day"] = pacific_group['datetime'].map(lambda x: x.day)
pacific_group["month"] = pacific_group['datetime'].map(lambda x: x.month)
pacific_group["year"] = pacific_group['datetime'].map(lambda x: x.year)
pacific_group.sample(5)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,day,month,year
68,2020-03-29,12056,356,14224.0,109605.0,64400.0,123829.0,410.0,1141.0,37.0,0.0,29,3,2020
48,2020-03-09,366,24,1367.0,3447.0,52.0,4814.0,0.0,0.0,0.0,0.0,9,3,2020
99,2020-04-29,66798,2890,65952.0,840824.0,0.0,906776.0,1724.0,5742.0,24.0,745.0,29,4,2020
37,2020-02-27,31,0,235.0,0.0,0.0,235.0,0.0,0.0,0.0,0.0,27,2,2020
93,2020-04-23,55567,2367,55053.0,684052.0,0.0,739105.0,1756.0,5819.0,36.0,653.0,23,4,2020

In [ ]:
pacific_group.sort_values("datetime")

In [9]:
# add column for calculating the increase/decrease in cases
pacific_group["increase_decrease"] = 0
pacific_group.sample(5)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,day,month,year,increase_decrease
89,2020-04-19,46209,1904,46719.0,463975.0,7200.0,510694.0,1724.0,5644.0,37.0,563.0,19,4,2020,0
165,2020-07-04,314232,7933,304182.0,5310058.0,0.0,5614240.0,1940.0,7603.0,86.0,4057.0,4,7,2020,0
42,2020-03-03,79,10,534.0,264.0,0.0,798.0,0.0,0.0,0.0,0.0,3,3,2020,0
73,2020-04-03,20908,602,21527.0,147860.0,59500.0,169387.0,901.0,2376.0,38.0,72.0,3,4,2020,0
101,2020-05-01,71003,3103,70656.0,904026.0,0.0,974682.0,1603.0,5409.0,23.0,780.0,1,5,2020,0

In [10]:
# 0 is for no growth
# 1 is for growth less than 10%
# 2 is for growth equal or more than 10%
# 3 is for decrease less than 10%
# 4 is for decrease equal or more than 10%

i = 0
while i < ((len(pacific_group.index))-1):
    if ((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) == 0:
        pacific_group.iloc[i+1, 14] = 0
        
    elif (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) < 0.10) and (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) > 0):
        pacific_group.iloc[i+1, 14] = 1
        
    elif ((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) >= 0.10:
        pacific_group.iloc[i+1, 14] = 2
        
    elif (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) > -0.10) and (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) < 0):
        pacific_group.iloc[i+1, 14] = 3
    elif (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) <= -0.10):
        pacific_group.iloc[i+1, 14] = 4
        
    i += 1

#pacific_group.tail()

In [12]:
pacific_group.head(20)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,day,month,year,increase_decrease
0,2020-01-21,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21,1,2020,0
1,2020-01-22,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,22,1,2020,0
2,2020-01-23,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,23,1,2020,0
3,2020-01-24,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,24,1,2020,0
4,2020-01-25,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,25,1,2020,2
5,2020-01-26,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,26,1,2020,2
6,2020-01-27,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,27,1,2020,0
7,2020-01-28,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,28,1,2020,0
8,2020-01-29,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,29,1,2020,0
9,2020-01-30,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,30,1,2020,0
10,2020-01-31,4,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,31,1,2020,2
11,2020-02-01,4,0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,1,2,2020,0
12,2020-02-02,7,0,6.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,2,2,2020,2
13,2020-02-03,7,0,7.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,3,2,2020,0
14,2020-02-04,7,0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,4,2,2020,0
15,2020-02-05,7,0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,5,2,2020,0
16,2020-02-06,7,0,11.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,6,2,2020,0
17,2020-02-07,7,0,12.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,7,2,2020,0
18,2020-02-08,7,0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,8,2,2020,0
19,2020-02-09,7,0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,9,2,2020,0