# Original Model run July 17th 2020

In our model we predict the number of Covid-10 Cases in the Midwestern United States through the end of 2020. Only showing predictions for state of Minnesota.

In [1]:
import pandas as pd

In [6]:
#Load dataset from csv
usa = pd.read_csv('enigma_Aug_8_2020.csv')
usa.head()

# Remove not needed columns
usa = usa.drop(columns = ['state_fips', 'lat', 'long'])
usa.head()

# Convert dates to datetime
usa['datetime'] = pd.to_datetime(usa['date'])
usa.tail()

,state_name,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
8149,New York,6/26/2020,395972,31075,391220.0,3290097.0,NaN,3681317.0,244.0,951.0,167.0,70010.0,2020-06-26
8150,New York,6/27/2020,396669,31105,391923.0,3362656.0,NaN,3754579.0,230.0,908.0,167.0,70010.0,2020-06-27
8151,New York,6/28/2020,397293,31137,392539.0,3423946.0,NaN,3816485.0,229.0,869.0,167.0,70010.0,2020-06-28
8152,New York,6/29/2020,397684,31143,392930.0,3469983.0,NaN,3862913.0,216.0,853.0,136.0,70435.0,2020-06-29
8153,New York,6/30/2020,398142,31776,393454.0,3521484.0,NaN,3914938.0,217.0,891.0,137.0,70487.0,2020-06-30

In [9]:
# TODO issue below, function Make_MN() works, but I want to take the output of function and store it in MN.

In [6]:
def Make_MN():
    '''function to make MN df'''
    
    #Load dataset from csv
    usa = pd.read_csv('enigma_Aug_8_2020.csv')
   
    # Remove not needed columns
    usa = usa.drop(columns = ['state_fips', 'lat', 'long'])

    # Convert dates to datetime
    usa['datetime'] = pd.to_datetime(usa['date'])
    
    # Create DF for just Minnesota
    MN =  usa[usa['state_name']=='Minnesota']


    # Summing case count for Western Northern Central by date
    # Groupby to consolidate cases by entire region
    MN= MN.groupby(["datetime"]).sum()
   

    # Sort by datetime and reset index
    MN.sort_values(by = 'datetime')
    MN = MN.reset_index()
    
    # Summing case count for Western Northern Central by date
    # Groupby to consolidate cases by entire region
    MN = MN.groupby(["datetime"]).sum()
  
    # Sort by datetime and reset index
    MN.sort_values(by = 'datetime')
    MN = MN.reset_index()
    #wnc_group.tail
    
    MN['datetime'] = pd.to_datetime(MN['datetime'])
    MN['day'] = MN['datetime'].map(lambda x: x.day)
    MN['month'] = MN['datetime'].map(lambda x: x.month)
    MN['year'] = MN['datetime'].map(lambda x: x.year)

    # Now create new column for growth rate
    MN['growth_rate'] = MN['cases'].pct_change()
    MN = MN
    return MN

Make_MN()

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,day,month,year,growth_rate
0,2020-03-06,1,0,1.0,36.0,0.0,37.0,0.0,0.0,0.0,0.0,6,3,2020,NaN
1,2020-03-07,1,0,2.0,48.0,0.0,50.0,0.0,0.0,0.0,0.0,7,3,2020,0.000000
2,2020-03-08,2,0,2.0,48.0,0.0,50.0,0.0,0.0,0.0,0.0,8,3,2020,1.000000
3,2020-03-09,2,0,5.0,80.0,0.0,85.0,0.0,0.0,0.0,0.0,9,3,2020,0.000000
4,2020-03-10,3,0,11.0,132.0,0.0,143.0,0.0,0.0,0.0,0.0,10,3,2020,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2020-07-24,49528,1606,49488.0,873388.0,0.0,922876.0,108.0,278.0,0.0,42882.0,24,7,2020,0.015730
141,2020-07-25,50331,1611,50291.0,890405.0,0.0,940696.0,115.0,287.0,0.0,43625.0,25,7,2020,0.016213
142,2020-07-26,51193,1614,51153.0,906221.0,0.0,957374.0,115.0,273.0,0.0,44431.0,26,7,2020,0.017127
143,2020-07-27,51843,1616,51803.0,918923.0,0.0,970726.0,126.0,257.0,0.0,45198.0,27,7,2020,0.012697
144,2020-07-28,52321,1620,52281.0,927707.0,0.0,979988.0,138.0,294.0,0.0,45987.0,28,7,2020,0.009220

In [7]:
# MN won't run

NameError: name 'MN' is not defined

### Segment out Minnesota

In [9]:
# Create DF for just Minnesota
MN =  usa[usa['state_name']=='Minnesota']
MN.sample(5)

# Summing case count for Western Northern Central by date
# Groupby to consolidate cases by entire region
MN= MN.groupby(["datetime"]).sum()
MN.tail()

# Sort by datetime and reset index
MN.sort_values(by = 'datetime')
MN = MN.reset_index()
MN.tail()

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
140,2020-07-24,49528,1606,49488.0,873388.0,0.0,922876.0,108.0,278.0,0.0,42882.0
141,2020-07-25,50331,1611,50291.0,890405.0,0.0,940696.0,115.0,287.0,0.0,43625.0
142,2020-07-26,51193,1614,51153.0,906221.0,0.0,957374.0,115.0,273.0,0.0,44431.0
143,2020-07-27,51843,1616,51803.0,918923.0,0.0,970726.0,126.0,257.0,0.0,45198.0
144,2020-07-28,52321,1620,52281.0,927707.0,0.0,979988.0,138.0,294.0,0.0,45987.0

In [10]:
# Check 
MN.head()

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
0,2020-03-06,1,0,1.0,36.0,0.0,37.0,0.0,0.0,0.0,0.0
1,2020-03-07,1,0,2.0,48.0,0.0,50.0,0.0,0.0,0.0,0.0
2,2020-03-08,2,0,2.0,48.0,0.0,50.0,0.0,0.0,0.0,0.0
3,2020-03-09,2,0,5.0,80.0,0.0,85.0,0.0,0.0,0.0,0.0
4,2020-03-10,3,0,11.0,132.0,0.0,143.0,0.0,0.0,0.0,0.0