# Segmenting Covid-19 Data into Regions and SubRegions

NorthEast Region:
New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [5]:
import pandas as pd
#from pandas_profiling import ProfileReport

In [6]:
# Load enigma dataset.
usa = pd.read_csv('enigma_Aug_8_2020.csv')
usa.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
0,36,New York,42.913397,-75.596272,7/1/2020,398770,31791,394079.0,3577569.0,NaN,3971648.0,226.0,879.0,139.0,70590.0
1,36,New York,42.913397,-75.596272,7/2/2020,399642,31814,394954.0,3646639.0,NaN,4041593.0,209.0,878.0,129.0,70698.0
2,36,New York,42.913397,-75.596272,7/3/2020,400561,31836,395872.0,3712113.0,NaN,4107985.0,188.0,857.0,125.0,70794.0
3,36,New York,42.913397,-75.596272,7/4/2020,401286,31860,396598.0,3773790.0,NaN,4170388.0,190.0,844.0,119.0,70877.0
4,36,New York,42.913397,-75.596272,7/5/2020,401822,31895,397131.0,3836672.0,NaN,4233803.0,178.0,832.0,116.0,70968.0

In [11]:
profile = ProfileReport(usa, title="Pandas Profiling Report")
profile
profile.to_file("explore_enigma_data.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=29.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [7]:
# Convert to Datetime
usa['datetime'] = pd.to_datetime(usa['date'])
usa["day"] = usa['datetime'].map(lambda x: x.day)
usa["month"] = usa['datetime'].map(lambda x: x.month)
usa["year"] = usa['datetime'].map(lambda x: x.year)
usa.sample(5)

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
1789,49,Utah,39.334992,-111.656333,7/13/2020,30282,216,30030.0,388305.0,NaN,418335.0,86.0,252.0,NaN,17728.0,2020-07-13,13,7,2020
5791,20,Kansas,38.498546,-98.383430,6/22/2020,12576,260,12465.0,142548.0,NaN,155013.0,NaN,NaN,NaN,722.0,2020-06-22,22,6,2020
1342,47,Tennessee,35.860803,-86.349990,3/11/2020,8,0,7.0,50.0,NaN,57.0,NaN,NaN,NaN,NaN,2020-03-11,11,3,2020
6997,28,Mississippi,32.686471,-89.656138,7/21/2020,45524,1389,45524.0,349674.0,NaN,395198.0,293.0,1154.0,140.0,30315.0,2020-07-21,21,7,2020
2925,69,Commonwealth of the Northern Mariana Islands,14.936783,145.601021,5/24/2020,22,2,22.0,4735.0,NaN,4757.0,NaN,NaN,NaN,13.0,2020-05-24,24,5,2020

NorthEast Region:
New England Divsion 1 (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [8]:
# Created DF based New Englend Divsion
new_englend = usa[(usa['state_name']=="Connecticut") | (usa['state_name'] == 'Maine') |
                      (usa['state_name'] == 'Massachusetts') | (usa['state_name'] == 'New Hampshire') | \
                     (usa['state_name']=='Rhode Island')| (usa['state_name'] =='Vermont')]
new_englend.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
900,44,Rhode Island,41.597419,-71.527272,3/1/2020,2,0,2.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,2020-03-01,1,3,2020
901,44,Rhode Island,41.597419,-71.527272,3/2/2020,2,0,2.0,3.0,NaN,5.0,NaN,NaN,NaN,NaN,2020-03-02,2,3,2020
902,44,Rhode Island,41.597419,-71.527272,3/3/2020,2,0,2.0,5.0,NaN,7.0,NaN,NaN,NaN,NaN,2020-03-03,3,3,2020
903,44,Rhode Island,41.597419,-71.527272,3/4/2020,2,0,2.0,15.0,NaN,17.0,NaN,NaN,NaN,NaN,2020-03-04,4,3,2020
904,44,Rhode Island,41.597419,-71.527272,3/5/2020,2,0,3.0,19.0,NaN,22.0,NaN,NaN,NaN,NaN,2020-03-05,5,3,2020

NorthEast Region
Mid-Atlantic Divsion 2 (New Jersey, New York, and Pennsylvania)

In [9]:
# Create DF based on Mid Atlantic Divsion
mid_atlantic = usa[(usa['state_name']=="New Jersey") | (usa['state_name'] == 'New York') |
                      (usa['state_name'] == 'Pennsylvania')]
mid_atlantic.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
0,36,New York,42.913397,-75.596272,7/1/2020,398770,31791,394079.0,3577569.0,NaN,3971648.0,226.0,879.0,139.0,70590.0,2020-07-01,1,7,2020
1,36,New York,42.913397,-75.596272,7/2/2020,399642,31814,394954.0,3646639.0,NaN,4041593.0,209.0,878.0,129.0,70698.0,2020-07-02,2,7,2020
2,36,New York,42.913397,-75.596272,7/3/2020,400561,31836,395872.0,3712113.0,NaN,4107985.0,188.0,857.0,125.0,70794.0,2020-07-03,3,7,2020
3,36,New York,42.913397,-75.596272,7/4/2020,401286,31860,396598.0,3773790.0,NaN,4170388.0,190.0,844.0,119.0,70877.0,2020-07-04,4,7,2020
4,36,New York,42.913397,-75.596272,7/5/2020,401822,31895,397131.0,3836672.0,NaN,4233803.0,178.0,832.0,116.0,70968.0,2020-07-05,5,7,2020

Midwest Region
Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)

In [10]:
# Created DF based New Englend Divsion
east_north_central = usa[(usa['state_name']=='Illinois') | (usa['state_name'] == 'Indiana') |
                      (usa['state_name'] == 'Michigan') | (usa['state_name'] == 'Ohio') | \
                     (usa['state_name']=='Wisconsin')]
east_north_central.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
316,39,Ohio,40.41493,-82.711997,3/9/2020,3,0,3.0,11.0,5.0,14.0,NaN,NaN,NaN,NaN,2020-03-09,9,3,2020
317,39,Ohio,40.41493,-82.711997,3/10/2020,3,0,3.0,14.0,15.0,17.0,NaN,NaN,NaN,NaN,2020-03-10,10,3,2020
318,39,Ohio,40.41493,-82.711997,3/11/2020,4,0,4.0,21.0,24.0,25.0,NaN,NaN,NaN,NaN,2020-03-11,11,3,2020
319,39,Ohio,40.41493,-82.711997,3/12/2020,5,0,5.0,30.0,52.0,35.0,NaN,NaN,NaN,NaN,2020-03-12,12,3,2020
320,39,Ohio,40.41493,-82.711997,3/13/2020,13,0,13.0,50.0,159.0,63.0,NaN,NaN,NaN,NaN,2020-03-13,13,3,2020

 West North Central Divsion 4 (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)

In [11]:
# Creat DF for just West North Central
west_northern_central =  usa[(usa['state_name']=='Iowa') | (usa['state_name'] == 'Kansas') |
                      (usa['state_name'] == 'Minnesota') | (usa['state_name'] == 'Missouri') | 
                     (usa['state_name']=='North Dakota') | (usa['state_name']=='South Dakota')] 

west_northern_central.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
176,38,North Dakota,47.442174,-100.460826,3/11/2020,1,0,0.0,7.0,6.0,7.0,NaN,NaN,NaN,NaN,2020-03-11,11,3,2020
177,38,North Dakota,47.442174,-100.460826,3/12/2020,1,0,1.0,12.0,14.0,13.0,NaN,NaN,NaN,NaN,2020-03-12,12,3,2020
178,38,North Dakota,47.442174,-100.460826,3/13/2020,1,0,1.0,39.0,12.0,40.0,NaN,NaN,NaN,NaN,2020-03-13,13,3,2020
179,38,North Dakota,47.442174,-100.460826,3/14/2020,1,0,1.0,54.0,14.0,55.0,NaN,NaN,NaN,NaN,2020-03-14,14,3,2020
180,38,North Dakota,47.442174,-100.460826,3/15/2020,1,0,1.0,95.0,4.0,96.0,NaN,NaN,NaN,NaN,2020-03-15,15,3,2020

In [21]:
# Create Function
def make_regions(a,b,c,d,e,f)

SyntaxError: invalid syntax (<ipython-input-21-a2437c095f70>, line 2)

South Division 5: South Atlantic (Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, and West Virginia)

In [12]:
# Make Df for just South Atlantic divsion.

south_atlantic = usa[(usa['state_name']=='Delaware') | (usa['state_name'] == 'Flordia') |
                      (usa['state_name'] == 'Georgia') | (usa['state_name'] == 'Maryland') | 
                     (usa['state_name']=='North Carolina') | (usa['state_name']=='South Carolina') |
                     (usa['state_name']=='Virginia') | (usa['state_name']== 'District of Columbia') |
                    (usa['state_name'] == 'West Virginia')]
south_atlantic

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
28,37,North Carolina,35.539710,-79.130864,3/3/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-03,3,3,2020
29,37,North Carolina,35.539710,-79.130864,3/4/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2020-03-04,4,3,2020
30,37,North Carolina,35.539710,-79.130864,3/5/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2020-03-05,5,3,2020
31,37,North Carolina,35.539710,-79.130864,3/6/2020,2,0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2020-03-06,6,3,2020
32,37,North Carolina,35.539710,-79.130864,3/7/2020,2,0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2020-03-07,7,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,24,Maryland,38.946658,-76.674494,7/24/2020,82326,3422,81766.0,722584.0,NaN,804350.0,143.0,533.0,NaN,5434.0,2020-07-24,24,7,2020
6396,24,Maryland,38.946658,-76.674494,7/25/2020,83617,3433,83054.0,742272.0,NaN,825326.0,157.0,545.0,NaN,5434.0,2020-07-25,25,7,2020
6397,24,Maryland,38.946658,-76.674494,7/26/2020,84306,3440,83748.0,754824.0,NaN,838572.0,153.0,540.0,NaN,5434.0,2020-07-26,26,7,2020
6398,24,Maryland,38.946658,-76.674494,7/27/2020,85436,3447,84876.0,770642.0,NaN,855518.0,145.0,536.0,NaN,5434.0,2020-07-27,27,7,2020
6399,24,Maryland,38.946658,-76.674494,7/28/2020,86091,3458,85524.0,782732.0,NaN,868256.0,150.0,544.0,NaN,5592.0,2020-07-28,28,7,2020

South Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)

In [13]:
# Create DF for just East South Central Divsion
east_south_central =  usa[(usa['state_name']=='Alabama') | (usa['state_name'] == 'Kentucky') |
                      (usa['state_name'] == 'Mississippi') | (usa['state_name'] == 'Tennessee')] 

east_south_central.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
1336,47,Tennessee,35.860803,-86.34999,3/5/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2020-03-05,5,3,2020
1337,47,Tennessee,35.860803,-86.34999,3/6/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2020-03-06,6,3,2020
1338,47,Tennessee,35.860803,-86.34999,3/7/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2020-03-07,7,3,2020
1339,47,Tennessee,35.860803,-86.34999,3/8/2020,3,0,3.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2020-03-08,8,3,2020
1340,47,Tennessee,35.860803,-86.34999,3/9/2020,4,0,3.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2020-03-09,9,3,2020

South Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)

In [14]:
west_northern_central =  usa[(usa['state_name']=='Arkansas') | (usa['state_name'] == 'Louisiana') |
                      (usa['state_name'] == 'Oklahoma') | (usa['state_name'] == 'Texas') ] 

west_northern_central.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
458,40,Oklahoma,35.590051,-97.486815,3/6/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-06,6,3,2020
459,40,Oklahoma,35.590051,-97.486815,3/7/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2020-03-07,7,3,2020
460,40,Oklahoma,35.590051,-97.486815,3/8/2020,1,0,1.0,8.0,2.0,9.0,NaN,NaN,NaN,NaN,2020-03-08,8,3,2020
461,40,Oklahoma,35.590051,-97.486815,3/9/2020,1,0,1.0,8.0,10.0,9.0,NaN,NaN,NaN,NaN,2020-03-09,9,3,2020
462,40,Oklahoma,35.590051,-97.486815,3/10/2020,2,0,2.0,15.0,11.0,17.0,NaN,NaN,NaN,NaN,2020-03-10,10,3,2020

West 
Mountain Divsion 8 (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)

In [15]:
# Create a DF for just Mountain divsion
mountain =  usa[(usa['state_name']=='Arizona') | (usa['state_name'] == 'Colorado') |
                      (usa['state_name'] == 'Idaho') | (usa['state_name'] == 'Montana') | 
                     (usa['state_name']=='Nevada') | (usa['state_name']=='New Mexico') |
                     (usa['state_name']=='Utah') | (usa['state_name']== 'Wyoming') ]

mountain.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
1650,49,Utah,39.334992,-111.656333,2/25/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-25,25,2,2020
1651,49,Utah,39.334992,-111.656333,2/26/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-26,26,2,2020
1652,49,Utah,39.334992,-111.656333,2/27/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-27,27,2,2020
1653,49,Utah,39.334992,-111.656333,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020
1654,49,Utah,39.334992,-111.656333,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29,29,2,2020

West Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [24]:
# Make DF for just Pacific Divsion
pacific =  usa[(usa['state_name']=='California') | (usa['state_name'] == 'Hawaii') |
                      (usa['state_name'] == 'Oregon') | (usa['state_name'] == 'Washington') |
                      (usa['state_name']=='Alaska')]

pacific.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year
603,41,Oregon,43.971713,-120.622958,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020
604,41,Oregon,43.971713,-120.622958,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29,29,2,2020
605,41,Oregon,43.971713,-120.622958,3/1/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-01,1,3,2020
606,41,Oregon,43.971713,-120.622958,3/2/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-02,2,3,2020
607,41,Oregon,43.971713,-120.622958,3/3/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-03,3,3,2020

# MK CODE

In [17]:
# Summing case count for Pacific Region

# Groupby to consolidate cases by entire region
pacific_group = pacific.groupby(["datetime"])
pacific_sum = pacific_group["cases"].sum()

In [18]:
# merge output of above groupbys to create new df
pacific_new = pacific.merge(pacific_sum, on = "datetime")
pacific_new.head()

,state_fips,state_name,lat,long,date,cases_x,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year,cases_y
0,41,Oregon,43.971713,-120.622958,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020,35
1,53,Washington,47.407324,-120.575800,2/28/2020,7,0,275.0,0.0,NaN,275.0,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020,35
2,6,California,37.155177,-119.543418,2/28/2020,27,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020,35
3,41,Oregon,43.971713,-120.622958,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29,29,2,2020,39
4,53,Washington,47.407324,-120.575800,2/29/2020,10,1,299.0,17.0,NaN,316.0,NaN,NaN,NaN,NaN,2020-02-29,29,2,2020,39

In [36]:
# Rename columns and sort by date
pacific_new = pacific_new.rename(columns={"cases_y": "reg_sum_cases"})
pacific_new.sort_values(by ="datetime")
pacific_new.head()

,state_fips,state_name,lat,long,date,cases_x,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime,day,month,year,reg_sum_cases
0,41,Oregon,43.971713,-120.622958,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020,35
1,53,Washington,47.407324,-120.575800,2/28/2020,7,0,275.0,0.0,NaN,275.0,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020,35
2,6,California,37.155177,-119.543418,2/28/2020,27,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28,28,2,2020,35
3,41,Oregon,43.971713,-120.622958,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29,29,2,2020,39
4,53,Washington,47.407324,-120.575800,2/29/2020,10,1,299.0,17.0,NaN,316.0,NaN,NaN,NaN,NaN,2020-02-29,29,2,2020,39

In [41]:
# trying to consolidate cases per day
daily_count =pacific_new.groupby(['date', 'reg_sum_cases']).sum()
daily_count = daily_count.reset_index()
daily_count.tail()

,date,reg_sum_cases,state_fips,lat,long,cases_x,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,day,month,year
185,7/5/2020,321668,117,211.479334,-669.084353,321668,7980,313599.0,5446094.0,0.0,5759693.0,1959.0,7646.0,84.0,4063.0,25,35,10100
186,7/6/2020,329212,117,211.479334,-669.084353,329212,8073,320138.0,5562453.0,0.0,5882591.0,1998.0,7728.0,68.0,4171.0,30,35,10100
187,7/7/2020,339959,117,211.479334,-669.084353,339959,8206,327578.0,5687047.0,0.0,6014625.0,2039.0,7937.0,60.0,4218.0,35,35,10100
188,7/8/2020,349385,117,211.479334,-669.084353,349385,8365,340002.0,5788461.0,0.0,6128463.0,2033.0,8241.0,79.0,4237.0,40,35,10100
189,7/9/2020,357765,117,211.479334,-669.084353,357765,8502,347994.0,5882483.0,0.0,6230477.0,2016.0,8370.0,84.0,4359.0,45,35,10100