# Segmenting Covid-19 Data into Regions and SubRegions

NorthEast Region:
New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [1]:
import pandas as pd
#from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [2]:
# Load enigma dataset.
usa = pd.read_csv('enigma_Aug_8_2020.csv')
usa.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
0,36,New York,42.913397,-75.596272,7/1/2020,398770,31791,394079.0,3577569.0,NaN,3971648.0,226.0,879.0,139.0,70590.0
1,36,New York,42.913397,-75.596272,7/2/2020,399642,31814,394954.0,3646639.0,NaN,4041593.0,209.0,878.0,129.0,70698.0
2,36,New York,42.913397,-75.596272,7/3/2020,400561,31836,395872.0,3712113.0,NaN,4107985.0,188.0,857.0,125.0,70794.0
3,36,New York,42.913397,-75.596272,7/4/2020,401286,31860,396598.0,3773790.0,NaN,4170388.0,190.0,844.0,119.0,70877.0
4,36,New York,42.913397,-75.596272,7/5/2020,401822,31895,397131.0,3836672.0,NaN,4233803.0,178.0,832.0,116.0,70968.0

Run Pandas Profile to Learn more about Dataset

In [3]:
profile = ProfileReport(usa, title="Pandas Profiling Report")
profile
profile.to_file("explore_enigma_data.html")

NameError: name 'ProfileReport' is not defined

In [4]:
# first datetime conversion
usa['datetime'] = pd.to_datetime(usa['date'])
#usa["day"] = usa['datetime'].map(lambda x: x.day)
#usa["month"] = usa['datetime'].map(lambda x: x.month)
#usa["year"] = usa['datetime'].map(lambda x: x.year)
#usa.sample(5)
usa.sample(5)

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
563,40,Oklahoma,35.590051,-97.486815,6/19/2020,9706,367,9706.0,264872.0,NaN,274578.0,96.0,211.0,NaN,7212.0,2020-06-19
4694,12,Florida,28.457430,-82.409148,5/7/2020,38820,1599,38828.0,454122.0,1499.0,492950.0,NaN,NaN,NaN,NaN,2020-05-07
6619,26,Michigan,44.844177,-85.660491,4/19/2020,31349,2389,37557.0,89758.0,NaN,127315.0,1344.0,3403.0,1115.0,3237.0,2020-04-19
7290,31,Nebraska,41.543305,-99.811865,2/20/2020,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-20
7770,34,New Jersey,40.107274,-74.665201,3/29/2020,13386,161,13386.0,22216.0,NaN,35602.0,NaN,2000.0,NaN,NaN,2020-03-29

NorthEast Region:
New England Divsion 1 (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [5]:
# Created DF based New Englend Divsion
new_englend = usa[(usa['state_name']=="Connecticut") | (usa['state_name'] == 'Maine') |
                      (usa['state_name'] == 'Massachusetts') | (usa['state_name'] == 'New Hampshire') | \
                     (usa['state_name']=='Rhode Island')| (usa['state_name'] =='Vermont')]
new_englend.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
900,44,Rhode Island,41.597419,-71.527272,3/1/2020,2,0,2.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,2020-03-01
901,44,Rhode Island,41.597419,-71.527272,3/2/2020,2,0,2.0,3.0,NaN,5.0,NaN,NaN,NaN,NaN,2020-03-02
902,44,Rhode Island,41.597419,-71.527272,3/3/2020,2,0,2.0,5.0,NaN,7.0,NaN,NaN,NaN,NaN,2020-03-03
903,44,Rhode Island,41.597419,-71.527272,3/4/2020,2,0,2.0,15.0,NaN,17.0,NaN,NaN,NaN,NaN,2020-03-04
904,44,Rhode Island,41.597419,-71.527272,3/5/2020,2,0,3.0,19.0,NaN,22.0,NaN,NaN,NaN,NaN,2020-03-05

# CODE TO ADD DAILY DIVISION TALLY FOR NEW ENGLEND

In [ ]:
# Summing case count for New Englend Divsion
# Groupby to consolidate cases by entire region
NE_group = new_englend.groupby(["datetime"])
NE_sum = NE_group["cases"].sum()

# merge output of above groupbys to create new df
NE_new =new_englend.merge(mid_sum, on = "datetime")
# Rename columns and sort by date
NE_new = NE_new.rename(columns={"cases_y": "reg_sum_cases"}) 
NE_new.sort_values(by ="datetime")

# Perform groupby operations to sum cases by day
NE_tally =NE_new.groupby(['date', 'reg_sum_cases']).sum()
NE_tally = NE_tally.reset_index()
NE_tally.head(5)

# now finsh date time conversion
NE_tally['datetime'] = pd.to_datetime(NE_tally['date'])
NE_tally["day"] = NE_tally['datetime'].map(lambda x: x.day)
NE_tally["month"] = NE_tally['datetime'].map(lambda x: x.month)
NE_tally["year"] = NE_tally['datetime'].map(lambda x: x.year)
NE_tally.sample(5)

NorthEast Region
Mid-Atlantic Divsion 2 (New Jersey, New York, and Pennsylvania)

In [ ]:
# Create DF based on Mid Atlantic Divsion
mid_atlantic = usa[(usa['state_name']=="New Jersey") | (usa['state_name'] == 'New York') |
                      (usa['state_name'] == 'Pennsylvania')]
mid_atlantic.head()

In [ ]:
def

# CODE TO ADD CASE TALLY TO MID ATLANTIC

In [ ]:
# Summing case count for Mid Atlantic Region
# Groupby to consolidate cases by entire region
mid_group = mid_atlantic.groupby(["datetime"])
mid_sum = mid_group["cases"].sum()

# merge output of above groupbys to create new df
mid_new =mid_atlantic.merge(mid_sum, on = "datetime")
# Rename columns and sort by date
mid_new = mid_new.rename(columns={"cases_y": "reg_sum_cases"}) 
mid_new.sort_values(by ="datetime")

# Perform groupby operations to sum cases by day
mid_tally =mid_new.groupby(['date', 'reg_sum_cases']).sum()
mid_tally = mid_tally.reset_index()
mid_tally.head(5)

# now finsh date time conversion
mid_tally['datetime'] = pd.to_datetime(mid_tally['date'])
mid_tally["day"] = mid_tally['datetime'].map(lambda x: x.day)
mid_tally["month"] = mid_tally['datetime'].map(lambda x: x.month)
mid_tally["year"] = mid_tally['datetime'].map(lambda x: x.year)
mid_tally.sample(5)

Midwest Region
Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)

In [ ]:
# Created DF based East North Central Divsion
east_north_central = usa[(usa['state_name']=='Illinois') | (usa['state_name'] == 'Indiana') |
                      (usa['state_name'] == 'Michigan') | (usa['state_name'] == 'Ohio') | \
                     (usa['state_name']=='Wisconsin')]
east_north_central.head()

# CODE FOR ADDING TALLY COUNT CASE EAST NORTH CENTRAL DIVSION (STILL WORKING ON THIS ONE)

In [ ]:
# Summing case count for Mid Atlantic Region
# Groupby to consolidate cases by entire region
ENC_group = east_north_central.groupby(["datetime"])
ENC_sum = ENC_group["cases"].sum()

# merge output of above groupbys to create new df
east_north_central_new =east_north_central.merge(ENC_sum, on = "datetime")
# Rename columns and sort by date
east_north_central_new = east_north_central_new.rename(columns={"cases_y": "reg_sum_cases"}) 
east_north_central_new.sort_values(by ="datetime")

# Perform groupby operations to sum cases by day
east_north_central_tally =east_north_central(['date', 'reg_sum_cases']).sum()
east_north_central_tally = east_north_central_tally.reset_index()
east_north_central_tally(5)

# now finsh date time conversion
east_north_central_tally['datetime'] = pd.to_datetime(east_north_central_tally['date'])

east_north_central_tally["day"] = east_north_central_tally['datetime'].map(lambda x: x.day)
east_north_central_tally["month"] = east_north_central_tally['datetime'].map(lambda x: x.month)
east_north_central_tally["year"] = east_north_central_tally['datetime'].map(lambda x: x.year)
east_north_central_tally.sample(5)

 West North Central Divsion 4 (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)

In [ ]:
# Creat DF for just West North Central
west_northern_central =  usa[(usa['state_name']=='Iowa') | (usa['state_name'] == 'Kansas') |
                      (usa['state_name'] == 'Minnesota') | (usa['state_name'] == 'Missouri') | 
                     (usa['state_name']=='North Dakota') | (usa['state_name']=='South Dakota')] 

west_northern_central.head()

In [ ]:
# Create Function
def make_regions(a,b,c,d,e,f)

South Division 5: South Atlantic (Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, and West Virginia)

In [ ]:
# Make Df for just South Atlantic divsion.

south_atlantic = usa[(usa['state_name']=='Delaware') | (usa['state_name'] == 'Flordia') |
                      (usa['state_name'] == 'Georgia') | (usa['state_name'] == 'Maryland') | 
                     (usa['state_name']=='North Carolina') | (usa['state_name']=='South Carolina') |
                     (usa['state_name']=='Virginia') | (usa['state_name']== 'District of Columbia') |
                    (usa['state_name'] == 'West Virginia')]
south_atlantic.head()

South Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)

In [ ]:
# Create DF for just East South Central Divsion
east_south_central =  usa[(usa['state_name']=='Alabama') | (usa['state_name'] == 'Kentucky') |
                      (usa['state_name'] == 'Mississippi') | (usa['state_name'] == 'Tennessee')] 

east_south_central.head()

South Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)

In [ ]:
west_northern_central =  usa[(usa['state_name']=='Arkansas') | (usa['state_name'] == 'Louisiana') |
                      (usa['state_name'] == 'Oklahoma') | (usa['state_name'] == 'Texas') ] 

west_northern_central.head()

West 
Mountain Divsion 8 (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)

In [ ]:
# Create a DF for just Mountain divsion
mountain =  usa[(usa['state_name']=='Arizona') | (usa['state_name'] == 'Colorado') |
                      (usa['state_name'] == 'Idaho') | (usa['state_name'] == 'Montana') | 
                     (usa['state_name']=='Nevada') | (usa['state_name']=='New Mexico') |
                     (usa['state_name']=='Utah') | (usa['state_name']== 'Wyoming') ]

mountain.head()

# Pacific Divsion- with combined daily cases counts
West Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [ ]:
# Make DF for just Pacific Divsion
pacific =  usa[(usa['state_name']=='California') | (usa['state_name'] == 'Hawaii') |
                      (usa['state_name'] == 'Oregon') | (usa['state_name'] == 'Washington') |
                      (usa['state_name']=='Alaska')]

pacific.head()

Now perform operations to tally the daily case count in divsion

In [ ]:
# Summing case count for Pacific Region
# Groupby to consolidate cases by entire region
pacific_group = pacific.groupby(["datetime"])
pacific_sum = pacific_group["cases"].sum()

In [ ]:
# merge output of above groupbys to create new df
pacific_new = pacific.merge(pacific_sum, on = "datetime")
pacific_new.head()

In [ ]:
# Rename columns and sort by date
pacific_new = pacific_new.rename(columns={"cases_y": "reg_sum_cases"})
pacific_new.sort_values(by ="datetime")
pacific_new.head()

In [ ]:
# Perform groupby operations to sum cases by day
pacific_tally =pacific_new.groupby(['date', 'reg_sum_cases']).sum()
pacific_tally = daily_count.reset_index()
pacific_tally.head(5)

In [ ]:
# now finsh date time conversion
pacific_tally['datetime'] = pd.to_datetime(daily_count['date'])
pacific_tally["day"] = daily_count['datetime'].map(lambda x: x.day)
pacific_tally["month"] = daily_count['datetime'].map(lambda x: x.month)
pacific_tally["year"] = daily_count['datetime'].map(lambda x: x.year)
pacific_tally.sample(5)