# Segmenting Covid-19 Data into Regions and SubRegions test

NorthEast Region:
New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [3]:
import pandas as pd
#from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [4]:
# Load enigma dataset.
usa = pd.read_csv('enigma_Aug_8_2020.csv')
usa.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
0,36,New York,42.913397,-75.596272,7/1/2020,398770,31791,394079.0,3577569.0,NaN,3971648.0,226.0,879.0,139.0,70590.0
1,36,New York,42.913397,-75.596272,7/2/2020,399642,31814,394954.0,3646639.0,NaN,4041593.0,209.0,878.0,129.0,70698.0
2,36,New York,42.913397,-75.596272,7/3/2020,400561,31836,395872.0,3712113.0,NaN,4107985.0,188.0,857.0,125.0,70794.0
3,36,New York,42.913397,-75.596272,7/4/2020,401286,31860,396598.0,3773790.0,NaN,4170388.0,190.0,844.0,119.0,70877.0
4,36,New York,42.913397,-75.596272,7/5/2020,401822,31895,397131.0,3836672.0,NaN,4233803.0,178.0,832.0,116.0,70968.0

Run Pandas Profile to Learn more about Dataset

In [ ]:
profile = ProfileReport(usa, title="Pandas Profiling Report")
profile
profile.to_file("explore_enigma_data.html")

In [7]:
# first datetime conversion
usa['datetime'] = pd.to_datetime(usa['date'])
#usa["day"] = usa['datetime'].map(lambda x: x.day)
#usa["month"] = usa['datetime'].map(lambda x: x.month)
#usa["year"] = usa['datetime'].map(lambda x: x.year)
#usa.sample(5)
usa.tail(5)

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
8149,36,New York,42.913397,-75.596272,6/26/2020,395972,31075,391220.0,3290097.0,NaN,3681317.0,244.0,951.0,167.0,70010.0,2020-06-26
8150,36,New York,42.913397,-75.596272,6/27/2020,396669,31105,391923.0,3362656.0,NaN,3754579.0,230.0,908.0,167.0,70010.0,2020-06-27
8151,36,New York,42.913397,-75.596272,6/28/2020,397293,31137,392539.0,3423946.0,NaN,3816485.0,229.0,869.0,167.0,70010.0,2020-06-28
8152,36,New York,42.913397,-75.596272,6/29/2020,397684,31143,392930.0,3469983.0,NaN,3862913.0,216.0,853.0,136.0,70435.0,2020-06-29
8153,36,New York,42.913397,-75.596272,6/30/2020,398142,31776,393454.0,3521484.0,NaN,3914938.0,217.0,891.0,137.0,70487.0,2020-06-30

In [ ]:


#usa['growth_rate'] = usa['cases'].pct_change()
#usa.sample(10)

In [ ]:
#usa_copy = usa[['cases', 'growth_rate']].copy()
#usa_copy.sample(20)

NorthEast Region:
New England Divsion 1 (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [45]:
# Created DF based New Englend Divsion
new_englend = usa[(usa['state_name']=="Connecticut") | (usa['state_name'] == 'Maine') |
                      (usa['state_name'] == 'Massachusetts') | (usa['state_name'] == 'New Hampshire') | \
                     (usa['state_name']=='Rhode Island')| (usa['state_name'] =='Vermont')]
new_englend.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
900,44,Rhode Island,41.597419,-71.527272,3/1/2020,2,0,2.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,2020-03-01
901,44,Rhode Island,41.597419,-71.527272,3/2/2020,2,0,2.0,3.0,NaN,5.0,NaN,NaN,NaN,NaN,2020-03-02
902,44,Rhode Island,41.597419,-71.527272,3/3/2020,2,0,2.0,5.0,NaN,7.0,NaN,NaN,NaN,NaN,2020-03-03
903,44,Rhode Island,41.597419,-71.527272,3/4/2020,2,0,2.0,15.0,NaN,17.0,NaN,NaN,NaN,NaN,2020-03-04
904,44,Rhode Island,41.597419,-71.527272,3/5/2020,2,0,3.0,19.0,NaN,22.0,NaN,NaN,NaN,NaN,2020-03-05

# CODE TO ADD DAILY DIVISION TALLY FOR NEW ENGLEND

In [47]:
# Summing case count for New Englend Divsion
# Groupby to consolidate cases by entire region
NE_group = new_englend.groupby(["datetime"])
NE_sum = NE_group["cases"].sum()

# merge output of above groupbys to create new df
NE_new =new_englend.merge(mid_sum, on = "datetime")
# Rename columns and sort by date
NE_new = NE_new.rename(columns={"cases_y": "reg_sum_cases"}) 
NE_new.sort_values(by ="datetime")

# Perform groupby operations to sum cases by day
NE_tally =NE_new.groupby(['date', 'reg_sum_cases']).sum()
NE_tally = NE_tally.reset_index()
NE_tally.head(5)

# now finsh date time conversion
NE_tally['datetime'] = pd.to_datetime(NE_tally['date'])
NE_tally["day"] = NE_tally['datetime'].map(lambda x: x.day)
NE_tally["month"] = NE_tally['datetime'].map(lambda x: x.month)
NE_tally["year"] = NE_tally['datetime'].map(lambda x: x.year)
NE_tally.sample(5)

NameError: name 'mid_sum' is not defined

NorthEast Region
Mid-Atlantic Divsion 2 (New Jersey, New York, and Pennsylvania)

In [46]:
# Create DF based on Mid Atlantic Divsion
mid_atlantic = usa[(usa['state_name']=="New Jersey") | (usa['state_name'] == 'New York') |
                      (usa['state_name'] == 'Pennsylvania')]
mid_atlantic.head()

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
0,36,New York,42.913397,-75.596272,7/1/2020,398770,31791,394079.0,3577569.0,NaN,3971648.0,226.0,879.0,139.0,70590.0,2020-07-01
1,36,New York,42.913397,-75.596272,7/2/2020,399642,31814,394954.0,3646639.0,NaN,4041593.0,209.0,878.0,129.0,70698.0,2020-07-02
2,36,New York,42.913397,-75.596272,7/3/2020,400561,31836,395872.0,3712113.0,NaN,4107985.0,188.0,857.0,125.0,70794.0,2020-07-03
3,36,New York,42.913397,-75.596272,7/4/2020,401286,31860,396598.0,3773790.0,NaN,4170388.0,190.0,844.0,119.0,70877.0,2020-07-04
4,36,New York,42.913397,-75.596272,7/5/2020,401822,31895,397131.0,3836672.0,NaN,4233803.0,178.0,832.0,116.0,70968.0,2020-07-05

# CODE TO ADD CASE TALLY TO MID ATLANTIC

In [ ]:
# Summing case count for Mid Atlantic Region
# Groupby to consolidate cases by entire region
mid_group = mid_atlantic.groupby(["datetime"])
mid_sum = mid_group["cases"].sum()

# merge output of above groupbys to create new df
mid_new =mid_atlantic.merge(mid_sum, on = "datetime")
# Rename columns and sort by date
mid_new = mid_new.rename(columns={"cases_y": "reg_sum_cases"}) 
mid_new.sort_values(by ="datetime")

# Perform groupby operations to sum cases by day
mid_tally =mid_new.groupby(['date', 'reg_sum_cases']).sum()
mid_tally = mid_tally.reset_index()
mid_tally.head(5)

# now finsh date time conversion
mid_tally['datetime'] = pd.to_datetime(mid_tally['date'])
mid_tally["day"] = mid_tally['datetime'].map(lambda x: x.day)
mid_tally["month"] = mid_tally['datetime'].map(lambda x: x.month)
mid_tally["year"] = mid_tally['datetime'].map(lambda x: x.year)
mid_tally.sample(5)

In [ ]:
mid_tally['growth_rate'] = mid_tally['reg_sum_cases'].pct_change()
mid_tally

Midwest Region
Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)

In [ ]:
# Created DF based East North Central Divsion
east_north_central = usa[(usa['state_name']=='Illinois') | (usa['state_name'] == 'Indiana') |
                      (usa['state_name'] == 'Michigan') | (usa['state_name'] == 'Ohio') | \
                     (usa['state_name']=='Wisconsin')]
east_north_central.head()

# CODE FOR ADDING TALLY COUNT CASE EAST NORTH CENTRAL DIVSION (STILL WORKING ON THIS ONE)

In [ ]:
# Summing case count for east north central Region
# Groupby to consolidate cases by entire region

 West North Central Divsion 4 (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)

In [ ]:
# Creat DF for just West North Central
west_northern_central =  usa[(usa['state_name']=='Iowa') | (usa['state_name'] == 'Kansas') |
                      (usa['state_name'] == 'Minnesota') | (usa['state_name'] == 'Missouri') | 
                     (usa['state_name']=='North Dakota') | (usa['state_name']=='South Dakota')] 

west_northern_central.head()

In [ ]:
# Create Function
def make_regions(a,b,c,d,e,f)

South Division 5: South Atlantic (Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, and West Virginia)

In [ ]:
# Make Df for just South Atlantic divsion.

south_atlantic = usa[(usa['state_name']=='Delaware') | (usa['state_name'] == 'Flordia') |
                      (usa['state_name'] == 'Georgia') | (usa['state_name'] == 'Maryland') | 
                     (usa['state_name']=='North Carolina') | (usa['state_name']=='South Carolina') |
                     (usa['state_name']=='Virginia') | (usa['state_name']== 'District of Columbia') |
                    (usa['state_name'] == 'West Virginia')]
south_atlantic.head()

South Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)

In [ ]:
# Create DF for just East South Central Divsion
east_south_central =  usa[(usa['state_name']=='Alabama') | (usa['state_name'] == 'Kentucky') |
                      (usa['state_name'] == 'Mississippi') | (usa['state_name'] == 'Tennessee')] 

east_south_central.head()

South Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)

In [ ]:
west_northern_central =  usa[(usa['state_name']=='Arkansas') | (usa['state_name'] == 'Louisiana') |
                      (usa['state_name'] == 'Oklahoma') | (usa['state_name'] == 'Texas') ] 

west_northern_central.head()

West 
Mountain Divsion 8 (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)

In [ ]:
# Create a DF for just Mountain divsion
mountain =  usa[(usa['state_name']=='Arizona') | (usa['state_name'] == 'Colorado') |
                      (usa['state_name'] == 'Idaho') | (usa['state_name'] == 'Montana') | 
                     (usa['state_name']=='Nevada') | (usa['state_name']=='New Mexico') |
                     (usa['state_name']=='Utah') | (usa['state_name']== 'Wyoming') ]

mountain.head()

# Pacific Divsion- with combined daily cases counts
West Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [8]:
# Make DF for just Pacific Divsion
pacific =  usa[(usa['state_name']=='California') | (usa['state_name'] == 'Hawaii') |
                      (usa['state_name'] == 'Oregon') | (usa['state_name'] == 'Washington') |
                      (usa['state_name']=='Alaska')]

pacific

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
603,41,Oregon,43.971713,-120.622958,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28
604,41,Oregon,43.971713,-120.622958,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29
605,41,Oregon,43.971713,-120.622958,3/1/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-01
606,41,Oregon,43.971713,-120.622958,3/2/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-02
607,41,Oregon,43.971713,-120.622958,3/3/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5066,15,Hawaii,19.597764,-155.502443,7/24/2020,1526,25,1490.0,109801.0,NaN,111291.0,NaN,39.0,NaN,1125.0,2020-07-24
5067,15,Hawaii,19.597764,-155.502443,7/25/2020,1597,25,1549.0,111241.0,NaN,112790.0,NaN,29.0,NaN,1148.0,2020-07-25
5068,15,Hawaii,19.597764,-155.502443,7/26/2020,1660,25,1620.0,112432.0,NaN,114052.0,NaN,29.0,NaN,1167.0,2020-07-26
5069,15,Hawaii,19.597764,-155.502443,7/27/2020,1688,25,1683.0,112432.0,NaN,114115.0,NaN,26.0,NaN,1179.0,2020-07-27
5070,15,Hawaii,19.597764,-155.502443,7/28/2020,1734,25,1711.0,112432.0,NaN,114143.0,NaN,39.0,NaN,1191.0,2020-07-28

Now perform operations to tally the daily case count in divsion

In [9]:
# Summing case count for Pacific Region
# Groupby to consolidate cases by entire region
pacific_group = pacific.groupby(["datetime"]).sum()
#pacific_sum = pacific_group["cases"].sum()
pacific_group.head()

,state_fips,lat,long,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
datetime,,,,,,,,,,,,,
2020-01-21,53,47.407324,-120.575800,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-22,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2020-01-23,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2020-01-24,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2020-01-25,59,84.562501,-240.119218,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [128]:
# merge output of above groupbys to create new df
    #pacific_new = pacific.merge(pacific_sum, on = "datetime")
    #pacific_new.head()

In [10]:
# Rename columns and sort by date
#pacific_group = pacific_group.rename(columns={"cases_y": "reg_sum_cases"})
pacific_group.sort_values(by ="datetime")
pacific_group= pacific_group.reset_index()
pacific_group.head()

,datetime,state_fips,lat,long,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
0,2020-01-21,53,47.407324,-120.575800,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-22,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,2020-01-23,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,2020-01-24,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
4,2020-01-25,59,84.562501,-240.119218,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [ ]:
# Perform groupby operations to sum cases by day
        #pacific_tally =pacific_new.groupby(['date', 'reg_sum_cases']).sum()
        #   pacific_tally = pacific_tally.reset_index()
    #pacific_tally.head(5)

In [ ]:
# now finsh date time conversion
pacific_tally['datetime'] = pd.to_datetime(pacific_tally['date'])
pacific_tally["day"] = pacific_tally['datetime'].map(lambda x: x.day)
pacific_tally["month"] = pacific_tally['datetime'].map(lambda x: x.month)
pacific_tally["year"] = pacific_tally['datetime'].map(lambda x: x.year)
pacific_tally.sample(3)

In [ ]:
# pacific_tally['growth_rate'].sort

In [ ]:
# pd.set_option('display.max_rows',100)

In [131]:
pacific_group['growth_rate'] = pacific_group['cases'].pct_change()
pacific_group.head(10)

#pacific_tally['growth_rate'].mean()

,index,datetime,state_fips,lat,long,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,growth_rate
0,0,2020-01-21,53,47.407324,-120.575800,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1,2020-01-22,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,2,2020-01-23,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
3,3,2020-01-24,53,47.407324,-120.575800,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,4,2020-01-25,59,84.562501,-240.119218,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0
5,5,2020-01-26,59,84.562501,-240.119218,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.5
6,6,2020-01-27,59,84.562501,-240.119218,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
7,7,2020-01-28,59,84.562501,-240.119218,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
8,8,2020-01-29,59,84.562501,-240.119218,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
9,9,2020-01-30,59,84.562501,-240.119218,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
pacific_tally.tail()

In [132]:
# pacific_tally.describe()
pacific_group['growth_rate'].max()

1.0

In [ ]:
pacific_tally.sort_values(by=['growth_rate'], ascending=True)#ascending=False

In [ ]:
pacific_tally.loc[pacific_tally.month==3].max()

In [ ]:
pacific_tally['growth_rate'].plot()

In [ ]:
plt.scatter(pacific_tally["datetime"],pacific_tally["growth_rate"],c='c',label='Pacific')

In [ ]:
pacific_tally.groupby ('growth_rate').count()