# Segmenting Covid-19 Data into Regions and SubRegions

NorthEast Region:
New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [1]:
#import boto3
import pandas as pd
import numpy as np
import io
#from sagemaker import get_execution_role
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

# Amazon SageMaker Python SDK
# import sagemaker.amazon.common as smac 
# import sagemaker

# instruction to Jupyter to inline all the visualizations
%matplotlib inline

In [2]:
# Load enigma dataset.
usa = pd.read_csv('enigma_Aug_8_2020.csv')
#usa.head(20)

# role = get_execution_role()
# input_bucket_states = 'enigma-data'
# in_data_key_states = 'enigma_covid_19/202008052100/enigma_covid_19-enigma_covid_19_us_states__202008052100__202008052100.csv'
# training_data_location_states = 's3://{}/{}'.format(input_bucket_states, in_data_key_states)

# # Define the headers since the data does not have any
# #headers = ['date','county','state','fips','cases','deaths']

# #df = pd.read_csv(training_data_location, names=headers)
# usa = pd.read_csv(training_data_location_states)
# print('uploaded training data from location: {}'.format(training_data_location_states))
usa.sample(20)

,state_fips,state_name,lat,long,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered
7979,35,New Mexico,34.434684,-106.131618,6/6/2020,8800,392,8672.0,215968.0,NaN,224640.0,NaN,175.0,NaN,3206.0
3835,5,Arkansas,34.895526,-92.444626,6/26/2020,18740,249,18062.0,259318.0,NaN,277380.0,NaN,284.0,61.0,12127.0
1397,47,Tennessee,35.860803,-86.349990,5/5/2020,13555,225,13690.0,205172.0,NaN,218862.0,NaN,520.0,NaN,6356.0
100,37,North Carolina,35.539710,-79.130864,5/14/2020,16593,632,16507.0,202761.0,NaN,219268.0,NaN,507.0,NaN,9115.0
8093,36,New York,42.913397,-75.596272,5/1/2020,313575,23841,308314.0,619124.0,NaN,927438.0,3640.0,10993.0,NaN,56187.0
7780,34,New Jersey,40.107274,-74.665201,4/8/2020,47437,1504,47437.0,52979.0,NaN,100416.0,1617.0,7026.0,1576.0,NaN
5233,17,Illinois,40.102875,-89.152611,2/17/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4096,8,Colorado,38.993848,-105.508317,4/16/2020,8675,374,8280.0,32253.0,NaN,40533.0,NaN,859.0,NaN,NaN
3379,1,Alabama,32.739632,-86.843459,7/4/2020,42862,1007,42862.0,399226.0,NaN,442088.0,NaN,818.0,NaN,22082.0
3460,2,Alaska,63.347356,-152.839733,5/7/2020,373,8,374.0,23967.0,NaN,24341.0,NaN,12.0,NaN,291.0
6064,22,Louisiana,30.863437,-91.798717,6/8/2020,43163,2944,43050.0,399552.0,NaN,442602.0,NaN,582.0,71.0,33904.0
7030,29,Missouri,38.350750,-92.456783,4/1/2020,1580,21,1581.0,15846.0,NaN,17427.0,NaN,NaN,NaN,NaN
549,40,Oklahoma,35.590051,-97.486815,6/5/2020,7004,345,6907.0,209564.0,NaN,216471.0,66.0,164.0,NaN,5781.0
5340,17,Illinois,40.102875,-89.152611,6/3/2020,124279,5665,123830.0,835345.0,NaN,959175.0,844.0,3173.0,508.0,NaN
582,40,Oklahoma,35.590051,-97.486815,7/8/2020,17893,407,17893.0,376930.0,NaN,394823.0,209.0,458.0,NaN,13538.0
1126,45,South Carolina,33.874178,-80.854264,5/21/2020,9379,416,9175.0,129063.0,NaN,138238.0,NaN,414.0,NaN,5451.0
4656,12,Florida,28.457430,-82.409148,3/30/2020,5695,72,5473.0,48225.0,NaN,53698.0,NaN,NaN,NaN,NaN
1336,47,Tennessee,35.860803,-86.349990,3/5/2020,1,0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1202,46,South Dakota,44.446796,-100.238176,3/17/2020,11,1,11.0,551.0,35.0,562.0,NaN,NaN,NaN,NaN
584,40,Oklahoma,35.590051,-97.486815,7/10/2020,19092,416,19092.0,391982.0,NaN,411074.0,217.0,487.0,NaN,14648.0

In [3]:
# drop unneeded colums
usa = usa.drop(columns = ["state_fips", "lat", "long"])

In [4]:
# Convert to Datetime
usa['datetime'] = pd.to_datetime(usa['date'])
# usa["day"] = usa['datetime'].map(lambda x: x.day)
# usa["month"] = usa['datetime'].map(lambda x: x.month)
# usa["year"] = usa['datetime'].map(lambda x: x.year)
# usa.sample(5)

In [ ]:
usa_group = usa.groupby(["datetime"], as_index = False).sum()
usa_group.sample(5)

In [ ]:
# Separate out Datetime

usa_group["day"] = usa_group['datetime'].map(lambda x: x.day)
usa_group["month"] = usa_group['datetime'].map(lambda x: x.month)
usa_group["year"] = usa_group['datetime'].map(lambda x: x.year)
usa_group.sample(5)

In [ ]:
usa_group["growth_rate"] = usa_group["cases"].pct_change()
usa_group["growth_rate"].max()

In [ ]:
usa_group["inc_dec"] = 0
usa_group.head()

In [ ]:
# 0 is for no growth
# 1 is for growth less than 10%
# 2 is for growth equal or more than 10%
# 3 is for decrease less than 10%
# 4 is for decrease equal or more than 10%

i = 0
while i < ((len(usa_group.index))-1):
    if ((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) == 0:
        usa_group.iloc[i+1, 14] = 0
        
    elif (((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) < 0.10) and \
    (((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) > 0):
        usa_group.iloc[i+1, 14] = 1
        
    elif ((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) >= 0.10:
        usa_group.iloc[i+1, 14] = 2
        
    elif (((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) > -0.10) and \
    (((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) < 0):
        usa_group.iloc[i+1, 14] = 3
    elif (((usa_group.iloc[i+1, 1] - usa_group.iloc[i, 1]) / usa_group.iloc[i, 1]) <= -0.10):
        usa_group.iloc[i+1, 14] = 4
        
    i += 1

In [ ]:
# usa_group.loc[usa_group["inc_dec"]==0].count()       # 21
# usa_group.loc[usa_group["inc_dec"]==1].count()        # 123
# usa_group.loc[usa_group["inc_dec"]==2].count()          # 46

NorthEast Region:
New England Divsion 1 (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)

In [ ]:
# Created DF based New England Divsion
new_england = usa[(usa['state_name']=="Connecticut") | (usa['state_name'] == 'Maine') |
                      (usa['state_name'] == 'Massachusetts') | (usa['state_name'] == 'New Hampshire') | 
                     (usa['state_name']=='Rhode Island')| (usa['state_name'] =='Vermont')]
new_england.head()

NorthEast Region
Mid-Atlantic Divsion 2 (New Jersey, New York, and Pennsylvania)

In [ ]:
# Create DF based on Mid Atlantic Divsion
mid_atlantic = usa[(usa['state_name']=="New Jersey") | (usa['state_name'] == 'New York') |
                      (usa['state_name'] == 'Pennsylvania')]

mid_atlantic.head()

Midwest Region
Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)

In [ ]:
# Created DF based New Englend Divsion
east_north_central = usa[(usa['state_name']=='Illinois') | (usa['state_name'] == 'Indiana') |
                      (usa['state_name'] == 'Michigan') | (usa['state_name'] == 'Ohio') | \
                     (usa['state_name']=='Wisconsin')]
east_north_central.head()

 West North Central Divsion 4 (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)

In [ ]:
# Creat DF for just West North Central
west_northern_central =  usa[(usa['state_name']=='Iowa') | (usa['state_name'] == 'Kansas') |
                      (usa['state_name'] == 'Minnesota') | (usa['state_name'] == 'Missouri') | 
                     (usa['state_name']=='North Dakota') | (usa['state_name']=='South Dakota')] 

west_northern_central.head()

In [ ]:
def plot_corr(df, size=6):
    """
    Function plots a graphical correlation matrix for each pair of columns in the dataframe. 
    Shows the relationship between features.

    Input:
        df: pandas DataFrame
        size: vertical and horizontal size of the plot

    Displays:
        matrix of correlation between columns.  
                                                0 ------------------>  1
                                                Expect a line running from top left to bottom right
    """

    corr = df.corr()    # data frame correlation function
    fig, ax = plt.subplots(figsize=(15, 15))
    ax.matshow(corr)   # color code the rectangles by correlation value
    plt.xticks(range(len(corr.columns)), corr.columns)  # draw x tick marks
    plt.yticks(range(len(corr.columns)), corr.columns)  # draw y tick marks

In [ ]:
plot_corr(west_northern_central)

 South Division 5: South Atlantic (Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, and West Virginia)

In [ ]:
# Make Df for just South Atlantic divsion.
south_atlantic = usa[(usa['state_name']=='Delaware') | (usa['state_name'] == 'Flordia') |
                      (usa['state_name'] == 'Georgia') | (usa['state_name'] == 'Maryland') | 
                     (usa['state_name']=='North Carolina') | (usa['state_name']=='South Carolina') |
                     (usa['state_name']=='Virginia') | (usa['state_name']== 'District of Columbia') |
                    (usa['state_name'] == 'West Virginia')]
south_atlantic

South Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)

In [ ]:
# Create DF for just East South Central Divsion
east_south_central =  usa[(usa['state_name']=='Alabama') | (usa['state_name'] == 'Kentucky') |
                      (usa['state_name'] == 'Mississippi') | (usa['state_name'] == 'Tennessee')] 

east_south_central.head()

South Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)

In [ ]:
west_northern_central =  usa[(usa['state_name']=='Arkansas') | (usa['state_name'] == 'Louisiana') |
                      (usa['state_name'] == 'Oklahoma') | (usa['state_name'] == 'Texas') ] 

west_northern_central.head()

West 
Mountain Divsion 8 (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)

In [ ]:
# Create a DF for just Mountain divsion
mountain =  usa[(usa['state_name']=='Arizona') | (usa['state_name'] == 'Colorado') |
                      (usa['state_name'] == 'Idaho') | (usa['state_name'] == 'Montana') | 
                     (usa['state_name']=='Nevada') | (usa['state_name']=='New Mexico') |
                     (usa['state_name']=='Utah') | (usa['state_name']== 'Wyoming') ]

mountain.head()

West Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [12]:
# Make DF for just Pacific Divsion
pacific =  usa[(usa['state_name']=='Alaska') | (usa['state_name']=='California') | (usa['state_name'] == 'Hawaii') |
                      (usa['state_name'] == 'Oregon') | (usa['state_name'] == 'Washington') ]

pacific.head()

,state_name,date,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,datetime
603,Oregon,2/28/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-28
604,Oregon,2/29/2020,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-29
605,Oregon,3/1/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-01
606,Oregon,3/2/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-02
607,Oregon,3/3/2020,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-03

In [ ]:
# Convert to Datetime
#pacific['datetime'] = pd.to_datetime(pacific['date'])

In [17]:
pacific_group = pacific.groupby(["datetime"], as_index = False).sum()
pacific_group.head(5)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,moving
0,2020-01-21,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-22,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-23,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-24,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-25,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [23]:
pacific_group["7_day_cases_avg"] = pacific_group["cases"].rolling(7).mean()

pacific_group.head(20)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,moving,test,7_day_cases_avg
0,2020-01-21,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2020-01-22,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2020-01-23,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,2020-01-24,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,2020-01-25,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
5,2020-01-26,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
6,2020-01-27,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.714286,1.714286
7,2020-01-28,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.000000,2.000000
8,2020-01-29,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,2.285714,2.285714
9,2020-01-30,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,2.571429,2.571429
10,2020-01-31,4,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.000000,3.000000
11,2020-02-01,4,0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,3.285714,3.285714
12,2020-02-02,7,0,6.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,3.857143,3.857143
13,2020-02-03,7,0,7.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,4.428571,4.428571
14,2020-02-04,7,0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,5.000000,5.000000
15,2020-02-05,7,0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,5.571429,5.571429
16,2020-02-06,7,0,11.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,6.142857,6.142857
17,2020-02-07,7,0,12.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,6.571429,6.571429
18,2020-02-08,7,0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,7.000000,7.000000
19,2020-02-09,7,0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,7.000000,7.000000

In [24]:
# Separate out Datetime

pacific_group["day"] = pacific_group['datetime'].map(lambda x: x.day)
pacific_group["month"] = pacific_group['datetime'].map(lambda x: x.month)
pacific_group["year"] = pacific_group['datetime'].map(lambda x: x.year)
pacific_group.tail(5)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,moving,test,7_day_cases_avg,day,month,year
185,2020-07-24,516819,10243,505685.0,7959384.0,0.0,8465069.0,2342.0,9515.0,78.0,5466.0,0.0,481686.571429,481686.571429,24,7,2020
186,2020-07-25,528166,10349,517133.0,8106070.0,0.0,8623203.0,2342.0,9527.0,84.0,5504.0,0.0,493024.142857,493024.142857,25,7,2020
187,2020-07-26,535284,10381,526988.0,8244616.0,0.0,8771604.0,2342.0,9532.0,85.0,5525.0,0.0,504024.571429,504024.571429,26,7,2020
188,2020-07-27,544665,10488,535162.0,8384812.0,0.0,8919974.0,2342.0,9517.0,72.0,5680.0,0.0,514857.571429,514857.571429,27,7,2020
189,2020-07-28,554028,10699,542348.0,8524496.0,0.0,9066844.0,2256.0,9016.0,84.0,5763.0,0.0,525391.857143,525391.857143,28,7,2020

In [ ]:
# add column for calculating the increase/decrease in cases
# pacific_group["growth_rate"] = 0
# pacific_group.head(5)

In [ ]:
# # 0 is for no growth
# # 1 is for growth less than 10%
# # 2 is for growth equal or more than 10%
# # 3 is for decrease less than 10%
# # 4 is for decrease equal or more than 10%

# i = 0
# while i < ((len(pacific_group.index))-1):
#     if ((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) == 0:
#         pacific_group.iloc[i+1, 14] = 0
        
#     elif (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) < 0.10) and \
#     (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) > 0):
#         pacific_group.iloc[i+1, 14] = 1
        
#     elif ((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) >= 0.10:
#         pacific_group.iloc[i+1, 14] = 2
        
#     elif (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) > -0.10) and \
#     (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) < 0):
#         pacific_group.iloc[i+1, 14] = 3
#     elif (((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1]) <= -0.10):
#         pacific_group.iloc[i+1, 14] = 4
        
#     i += 1

# pacific_group.head(5)

In [25]:
pacific_group["growth"] = pacific_group["cases"].pct_change()
pacific_group["growth"]

0           NaN
1      0.000000
2      0.000000
3      0.000000
4      1.000000
         ...
185    0.022705
186    0.021955
187    0.013477
188    0.017525
189    0.017190
Name: growth, Length: 190, dtype: float64

In [29]:
pacific_group["7_day_growth_rate_avg"] = pacific_group["growth"].rolling(7).mean()
pacific_group.head(20)

,datetime,cases,deaths,tests_positive,tests_negative,tests_pending,tests,patients_icu,patients_hosp,patients_vent,recovered,moving,test,7_day_cases_avg,day,month,year,growth,7_day_growth_rate_avg
0,2020-01-21,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,21,1,2020,NaN,NaN
1,2020-01-22,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,22,1,2020,0.000000,NaN
2,2020-01-23,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,23,1,2020,0.000000,NaN
3,2020-01-24,1,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,24,1,2020,0.000000,NaN
4,2020-01-25,2,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,25,1,2020,1.000000,NaN
5,2020-01-26,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,26,1,2020,0.500000,NaN
6,2020-01-27,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.714286,1.714286,27,1,2020,0.000000,NaN
7,2020-01-28,3,0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.000000,2.000000,28,1,2020,0.000000,0.214286
8,2020-01-29,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,2.285714,2.285714,29,1,2020,0.000000,0.214286
9,2020-01-30,3,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,2.571429,2.571429,30,1,2020,0.000000,0.214286
10,2020-01-31,4,0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.000000,3.000000,31,1,2020,0.333333,0.261905
11,2020-02-01,4,0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,3.285714,3.285714,1,2,2020,0.000000,0.119048
12,2020-02-02,7,0,6.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,3.857143,3.857143,2,2,2020,0.750000,0.154762
13,2020-02-03,7,0,7.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,4.428571,4.428571,3,2,2020,0.000000,0.154762
14,2020-02-04,7,0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,5.000000,5.000000,4,2,2020,0.000000,0.154762
15,2020-02-05,7,0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,5.571429,5.571429,5,2,2020,0.000000,0.154762
16,2020-02-06,7,0,11.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,6.142857,6.142857,6,2,2020,0.000000,0.154762
17,2020-02-07,7,0,12.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,6.571429,6.571429,7,2,2020,0.000000,0.107143
18,2020-02-08,7,0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,7.000000,7.000000,8,2,2020,0.000000,0.107143
19,2020-02-09,7,0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,7.000000,7.000000,9,2,2020,0.000000,0.000000

In [ ]:
pacific_group.loc[pacific_group.month==3].max()

In [ ]:

i = 0
while i < ((len(pacific_group.index))-1):
    pacific_group.iloc[i+1, 14] = ((pacific_group.iloc[i+1, 1] - pacific_group.iloc[i, 1]) / pacific_group.iloc[i, 1])

        
    i += 1

pacific_group.sample(10)

In [ ]:
pacific_group["growth_rate"].max()

In [ ]:
from sklearn.linear_model import LinearRegression
pacific_group.isnull().sum()

In [ ]:
# X = pacific_group[["day", "month", "year", "cases","deaths","tests_positive","tests_negative","tests_pending","tests","patients_icu","patients_hosp", "patients_vent", "recovered"]]
# y = pacific_group["growth_rate"].values.reshape(-1,1)
# print(X.shape)
# print(y.shape)
# X
X = pacific_group[["day", "month", "year", "cases", "deaths"]]
y = pacific_group["patients_hosp"].values.reshape(-1,1)
print(X.shape)
print(y.shape)

In [ ]:
testing_X = [15, 9, 2020, .02]
testing_X = pd.Series(testing_X)
testing_X = testing_X.values.reshape(-1,1)

In [ ]:
lr.predict(np.array([15,9,2020,.02, 5800]).reshape(1,-1))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=42)

In [ ]:
# from sklearn.preprocessing import StandardScaler

# # Create a StandardScater model and fit it to the training data

# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

In [ ]:
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

In [ ]:
lr = LinearRegression()
lr.fit(X_train ,y_train)

In [ ]:
lr.score(X_test, y_test)

In [ ]:
def plot_corr(df, size=6):
    """
    Function plots a graphical correlation matrix for each pair of columns in the dataframe. 
    Shows the relationship between features.

    Input:
        df: pandas DataFrame
        size: vertical and horizontal size of the plot

    Displays:
        matrix of correlation between columns.  
                                                0 ------------------>  1
                                                Expect a line running from top left to bottom right
    """

    corr = df.corr()    # data frame correlation function
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr)   # color code the rectangles by correlation value
    plt.xticks(range(len(corr.columns)), corr.columns)  # draw x tick marks
    plt.yticks(range(len(corr.columns)), corr.columns)  # draw y tick marks

In [ ]:
plot_corr(pacific_group)

In [ ]:
from sklearn.model_selection import cross_val_score
# function to get cross validation scores
def get_cv_scores(model):
    scores = cross_val_score(lr,
                             X_train,
                             y_train,
                             cv=5,
                             scoring='r2')
    
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))

In [ ]:
get_cv_scores(lr)

In [ ]:
# trying k-fold because data is imbalanced

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
kf = KFold(n_splits=3)
kf.get_n_splits(X)

In [ ]:
for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [ ]:
pacific_group.plot.line(y="growth_rate", x="datetime")

In [ ]:
holidays